/* locally hosting the font*/
@font-face {
	font-family: 'Days One';
	src: url(fonts/DaysOne-Regular.ttf);

}

body {
	background: black;
	/*background: rgb(52,55,51);*/
	font-family: 'Days One';
	color: #AAA;
}

h1, h2, p {

}

p {
	font-size: 20px;
	padding-bottom: 20px;
}

a, a:hover {
	font-size: 25px;
	text-decoration: underline;
	color: #BBB;
}

li a, li a:hover {
	color: #3f5fa7;
	text-decoration: none;
}


.outerFrame {
	overflow: auto;
}

img {
	max-width: 100%;
}

#logo {
	position: absolute;
	left: 10px;
}

.bar {
	position: absolute;
	width: 0;
	border-style: solid;
	border-color: #3f5fa7;
	border-width: 0px;
}

#topLeftBar {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

#middleDiv {
	position: absolute;
	max-width: 800px;
	padding: 8px;
	padding-left: 15px;
	min-width: 300px;
}

#bottomLeftBar {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#clickArrow {
	position: absolute;
}

#clickArrow:active {
	;
}

#topLevelNavigation {
	position: absolute;
}

#topLevelNavigation ul {
	list-style-type: none;
	height: 100%;
	text-align: right;
}

#topLevelNavigation li {
	font-family: 'Days One';
	color: #3f5fa7;
	font-size: 30px;
	padding-bottom: 20px;
	cursor: pointer;
	opacity: 0.0;
}

#topLevelNavigation li img {
	width: auto;
	height: 50px;
}