/* locally hosting the font*/
@font-face {
	font-family: 'Days One';
	src: url(fonts/DaysOne-Regular.ttf);

}

body {
	background: black;
	/*background: rgb(52,55,51);*/
	color: #FFF;
	overflow: hidden;
}

img {
	max-width: 100%;
}

#logo {
	position: absolute;
	left: 10px;
}

.bar {
	position: absolute;
	width: 0;
	border-style: solid;
	border-color: #3f5fa7;
	border-width: 0px;
}

#topLeftBar {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

#bottomLeftBar {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#clickArrow {
	position: absolute;
}

#topLevelNavigation {
	position: absolute;
	height: 100%;
	font-size: 35px;
}

#topLevelNavigation ul {
	list-style-type: none;
	height: 100%;
	text-align: right;
}

#topLevelNavigation li {
	font-family: 'Days One';
	color: #3f5fa7;
	/*height: 25%;*/
	cursor: pointer;
	display: none;
}

#topLevelNavigation li img {
	width: auto;
	height: 50px;
}