/* locally hosting the font*/
@font-face {
	font-family: 'Days One';
	src: url(fonts/DaysOne-Regular.ttf);

}

body {
	background: black;
	/*background: rgb(52,55,51);*/
	font-family: 'Days One';
	color: #AAA;
}

h1 {
	font-size: 50px;
	padding-bottom: 20px;
	text-shadow: #777 1px 2px;
}

h3, h4 {
	margin-bottom: 0px;
}

h4 {
	font-size: 23px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 400;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0.164em;
	word-spacing: 0.169em;
	line-height: 1.51;
}

p, #resumeDiv li {
	font-size: 17.5px;
	padding-bottom: 20px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 100;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0.164em;
	word-spacing: 0.169em;
	line-height: 1.51;
}

#resumeDiv li {
	padding-bottom: 0px;
}

a, a:hover {
	text-decoration: underline;
	color: #BBB;
}

li a, li a:hover {
	color: #3f5fa7;
	text-decoration: none;
}


.outerFrame {
	overflow: auto;
}

img {
	max-width: 100%;
}

#logo {
	position: absolute;
	left: 10px;
	display: none;
}

.pulse {
	cursor: pointer;
	
	-webkit-animation-duration: 2000ms;
	-moz-animation-duration: 2000ms;
	-ms-animation-duration: 2000ms;
	-o-animation-duration: 2000ms;
	animation-duration: 2000ms;
	
	-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
	-ms-animation-direction: alternate;
	-o-animation-direction: alternate;
	animation-direction: alternate;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-name: pulsate;
	-moz-animation-name: pulsate;
	-ms-animation-name: pulsate;
	-o-animation-name: pulsate;
	animation-name: pulsate;
}

@keyframes "pulsate" {
 from {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
   	filter: alpha(opacity=50);
   	opacity: 0.5;
 }
 to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   	filter: alpha(opacity=100);
   	opacity: 1.0;
 }

}

@-moz-keyframes pulsate {
 from {
   filter: alpha(opacity=50);
   opacity: 0.5;
 }
 to {
   filter: alpha(opacity=100);
   opacity: 1.0;
 }

}

@-webkit-keyframes "pulsate" {
 from {
   filter: alpha(opacity=50);
   opacity: 0.5;
 }
 to {
   filter: alpha(opacity=100);
   opacity: 1.0;
 }

}

@-ms-keyframes "pulsate" {
 from {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
   filter: alpha(opacity=50);
   opacity: 0.5;
 }
 to {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1.0;
 }

}

@-o-keyframes "pulsate" {
 from {
   filter: alpha(opacity=50);
   opacity: 0.5;
 }
 to {
   filter: alpha(opacity=100);
   opacity: 1.0;
 }

}


.bar {
	position: absolute;
	width: 0;
	border-style: solid;
	border-color: #3f5fa7;
	border-width: 0px;
}

#topLeftBar {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

#middleDiv {
	position: absolute;
	max-width: 800px;
	padding: 8px;
	padding-left: 15px;
	min-width: 300px;
}

@media (max-width: 600px) {
	#middleDiv {
		min-width: 0px;
	}
}

#bottomLeftBar {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#clickArrow {
	position: absolute;
	opacity: 0.0;
	cursor: pointer;
}

#clickArrow:active {
	;
}

#topLevelNavigation {
	position: absolute;
}

#topLevelNavigation ul {
	list-style-type: none;
	height: 100%;
	text-align: right;
}

#topLevelNavigation li {
	font-family: 'Days One';
	color: #3f5fa7;
	font-size: 30px;
	padding-bottom: 20px;
	cursor: pointer;
	opacity: 0.0;
}

#topLevelNavigation li img {
	width: auto;
	height: 50px;
}